/* reset */
* {margin: 0; padding: 0;}
.clearfix::before, .clearfix::after {display: block; content: ''; clear: both;}
a {color: #333; text-decoration: none;}
li {list-style: none;}

/* layout */
#wrap {width: 1200px; margin: 0 auto;}

/* header */
#header {position: relative; text-align: center; background: #999;}
#header .logo {position: absolute; left: 0; top: 0; z-index: 10; width: 250px; height: 100px; line-height: 100px; background: #555;}
#header .nav {position: relative; float: right; width: 100%; margin-top: 56px;}
#header .nav ul {padding-left: 40%;}
#header .nav ul li {position: relative; float: left; width: 25%; text-align: center;}
#header .nav ul li a {display: block; padding: 10px; font-size: 20px; color: #fff; }
#header .nav ul li a:hover {background: rgba(0,0,0,.4);}
#header .nav ul li ul {padding-left: 0;}
#header .nav ul li ul.submenu {display: none; position: absolute; left: 0; top: 44px; height: 187px; padding-left: 0; background: #555;}
#header .nav ul li:first-child ul.submenu::after {content: ''; position: absolute; left: -480px; top: 0; width: 480px; height: 187px; background: #555;}        
#header .nav ul li ul.submenu li {width: 100%;}

/* banner */
#banner {width: 100%; height: 300px; background: #666;}

/* contents */
#contents {width: 100%; }
#contents > div {float: left; width: 400px; height: 200px;}
#contents > div.cont1 { background: #555;}
#contents > div.cont2 {background: #444;}
#contents > div.cont3 {background: #333;}

/* footer */
#footer {}
#footer .foot1 {float: left; width: 200px; height: 100px; background: #888;}
#footer .foot2 {float: left; width: 800px; height: 100px; background: #777;}
#footer .foot3 {float: left; width: 200px; height: 100px; background: #666;}