@charset "utf-8";

/* 여백 초기화 */
body, div, ul, li, dl, dt, dd, ol, h1, h2, h3, h4, h5, h6, input, fieldset, legend, p, select, table, th, td, tr, textarea, button, form, figure, figcaption {margin: 0; padding: 0;}

/* a 링크 초기화 */
a {color: #222; text-decoration: none;}
a:hover {color: #390;}

/* 폰트 초기화 */
body, input, textarea, select, button, table {font-family: 'Malgun Gothic', '맑은 고딕', AppleSDGothicNeo-Regular, dotum, '돋움', sans-serif; color: #222; font-size: 13px; line-height: 1.5;}

/* 폰트 스타일 초기화 */
em, address {font-style: normal;}

/* 제목 태그 초기화 */
h1, h2, h3, h4, h5, h6 {font-size: 13px; font-weight: normal; }

/* 블릿기호 초기화 */
dl, ul, li, ol, menu {list-style: none;}

/* 버튼 초기화 */
button {border: 0;}

/* 테두리 초기화 */
img, fieldset {border: 0 none;}

/* 반응형 이미지 */
img {width: 100%;}

/* IR 효과 */
.ir_pm {display: block; overflow: hidden; font-size: 0; line-height: 0; text-indent: -9999px;} /* Phark Method */
.ir_wa {display: block; overflow: hidden; position: relative; z-index: -1; width: 100%; height: 100%;} /* WA IR */
.ir_so {overflow: hidden; position: absolute; width: 0; height: 0; line-height: 0; text-indent: -9999px;}

/* margin, padding */
.mt10 {margin-top: 10px !important;}
.mt15 {margin-top: 15px !important;}
.mt20 {margin-top: 20px !important;}
.mt25 {margin-top: 25px !important;}
.mt30 {margin-top: 30px !important;}
.mt35 {margin-top: 35px !important;}
.mt40 {margin-top: 40px !important;}
.mt45 {margin-top: 45px !important;}
.mt50 {margin-top: 50px !important;}


/* placeholder */
::-webkit-input-placeholder { /* Edge */ color: #ccc; font-size: 12px;}
::-ms-input-placeholder { /* Internet Explorer 10-11 */color: #ccc; font-size: 12px;}
::placeholder {color: #ccc; font-size: 12px;}

.clearfix::before, .clearfix::after {display: block; content: ''; clear: both;}

/* 전체 레이아웃 */
* {margin: 0; padding: 0;}
#header {height: 120px;}
.container  {width: 1000px; margin: 0 auto;  position: relative;}
.row {}
#cont {height: 140px;}
#banner {}
#best {height: 500px;}
#footer {background: #202020; height: 160px; margin-top: 30px; }

/* 헤더 */
.header {padding-top: 60px; padding-bottom: 60px;}
.header .logo {float: left;  width: 114px; height: 32px;}
.header .logo img {width: 100%;}
.header .intro {float: right;}
.header .intro ul {}
.header .intro ul li {float: left; position: relative; width: 130px; text-align: center;}
.header .intro ul li a {font-size: 21px; font-weight: 600;}
.header .intro ul li ul {display: none; position: absolute; left: 0; top: 30px; z-index: 1;}
.header .intro ul li ul li a {padding: 10px; background: #fff; display: block;}


/* 배너 */
.banner {}

/* 컨텐츠 */
.cont {margin-top: 25px; }
.cont .cont_left {width: 49%; float: left; }
.cont .cont_right {width: 49%; float: left; margin-left: 2%;}

/* 베스트 */
.best {padding: 18px 0; height: 478px; }
.best .tab_titile {overflow: hidden;}
.best .tab_titile ul {}
.best .tab_titile li {float: left; padding-bottom: 40px; padding-right: 18px;}
.best .tab_titile li:last-child {padding-left: 18px; position: relative;}
.best .tab_titile li:last-child:before {content: ''; width: 2px; height: 28px; background: #000; position: absolute; left: 0; top: 12px; }
.best .tab_titile li a {font-size: 33px; font-weight: 600; color: #9f9f9f;}
.best .tab_titile li.active a {color: #000; }
.best .tab_chart {}
.best .tab_menu > div > div {float: left; width: 32%; margin-right: 2%; position: relative;}
.best .tab_menu > div > div:last-child {margin-right: 0;}
.best .tab_menu > div > div > figure {height: 310px;}
.best .tab_menu > div > div > figure img {width: 100%;}
.best .tab_menu > div > div > figcaption {font-size: 16px; font-weight: 600; padding-top: 18px;}
.best .tab_menu > div > div > p {font-size: 16px; font-weight: 600; padding-top: 14px;}
.best .tab_menu > div > div > p span {font-size: 14px; font-weight: 600; color: #595959}
.best .tab_menu > div > div > a img {width: 34px; position: absolute; right: 0; bottom: 0;}
/* 푸터 */
.flogo {width: 160px;}
.flogo img {width: 100%; margin-top: 30px;}
address {float: right; width: 50%; }
address ul {position: absolute; top: 30px; right: 0; display: inline; }
address ul.white li {font-size: 16px; color: #fff; font-weight: 600; float: left; margin-right: 50px;}
address ul li {display: inline; }
address ul.gray {margin-top: 35px; color: #666;  width: 57%; }
address ul.gray li {margin-right: 20px; white-space: nowrap; word-break: keep-all; }
address ul li:after {width: 1px; height: 16px; color: #fff; position: absolute; top: 0; right: 25px; }