/* reset */
@font-face { 
    font-family: 'S-CoreDream-3Light'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}

*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    line-height: 1.4;
}

blockquote,
body,
button,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
input,
ol,
p,
pre,
select,
table,
textarea,
ul {
    margin: 0
}

figure,
legend,
ol,
ul {
    padding: 0
}

body {
    --color-text: #000 ;
    --color-link: #333;
    --color-bg: #e7e7e7;
    --font-N: 'Nunito', sans-serif;;
    --font-R: 'Raleway', sans-serif;
    --font-S: 'Sulphur Point', sans-serif;
    --font-CoreDream: 'S-CoreDream-3Light'; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-bg);
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

img,
legend,
svg {
    max-width: 100%
}

a {
    background-color: transparent;
    text-decoration: none;
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

[type=button],
[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button
}

pre {
    -webkit-overflow-scrolling: touch
}

code,
kbd,
pre,
samp {
    font-family: Menlo, monospace;
    font-size: 1em
}

audio,
canvas,
embed,
iframe,
img,
svg,
video {
    vertical-align: middle
}

svg {
    fill: currentColor;
    pointer-events: none
}

svg:not(:root) {
    overflow: hidden
}

button,
select {
    text-transform: none
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: ButtonText dotted 1px
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search]:focus {
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

input {background-image: none;}
input[type=button],
input[type=reset],
input[type=text],
input[type=password],
input[type=submit],
input[type=search],
input[type=tel],
input[type=email] {
    -webkit-appearance: none;
    border-radius: 0
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}
input:checked[type=checkbox] {
    background-color: #666;
    -webkit-appearance: checkbox
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: .54
}
textarea::-webkit-input-placeholder {
    color: inherit;
    opacity: .54;
    font-size: 16px;
}
textarea::placeholder {
    color: inherit;
    opacity: .54;
    font-size: 16px;
}


textarea {
    resize: vertical
}

legend {
    display: table;
    white-space: normal
}

li {
    list-style-type: none
}

.ir_pm {
    display: block; 
    overflow: hidden; 
    font-size: 0; 
    line-height: 0; 
    text-indent: -9999px
}
.ir_wa {
    display: block; 
    overflow: hidden; 
    position: relative; 
    z-index: -1; 
    width: 100%; 
    height: 100%
}
.ir_so {
    overflow: hidden; 
    position: absolute; 
    width: 0; 
    height: 0; 
    line-height: 0; 
    text-indent: -9999px
}

/* clearfix */
.clearfix:before, 
.clearfix:after {
    content: ""; display: block; clear: both;
}

/* 스크롤바*/
body::-webkit-scrollbar {
    width: 1rem;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    background-color: #AAA;
	border-radius: 10px
}

/* 애니메이션 */
.titAni {
    position: relative;
    transition: color 1s cubic-bezier(.52, .08, .18, 1);
    display: inline-block;
    cursor: pointer;
}
.titAni:hover {
    color: #fff;
    transition: color .4s cubic-bezier(.37, .16, .12, 1)
}
.titAni::before { 
    content: ' ';
    position: absolute; left:0; bottom: -2px;
    width: 100%; height: 3px;
    background-color: #000;
    transform: scaleX(1);
    transform-origin: left top;
    transition: transform .6s cubic-bezier(.37, .16, .12, 1), background-color .8s cubic-bezier(.52, .08, .18, 1);
}
.titAni:hover::before {
    transform: scaleX(0);
    transform-origin: right top;
    transition: transform .3s cubic-bezier(.37, .16, .12, 1), background-color .4s cubic-bezier(.37, .16, .12, 1);
}
.titAni::after { 
    content: ' ';
    position: absolute; left:0; bottom: -2px;
    width: 100%; height: 3px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right top;
    transition: transform .3s cubic-bezier(.37, .16, .12, 1);
}
.titAni:hover::after {
    transform: scaleX(1);
    transform-origin: left top;
    transition: transform .6s cubic-bezier(.37, .16, .12, 1);
}

.titAni.white {color: #fff}
.titAni.white:hover {color: #000}
.titAni.white::before {background-color: #fff}
.titAni.white::after {background-color: #000}
.titAni.gray {color: #000}
.titAni.gray:hover {color: #ccc}
.titAni.gray::before {background-color: #000}
.titAni.gray::after {background-color: #ccc}


/* title(공통) */
.title { 
    font-size: 16vw;
    text-align: right;
    font-family: var(--font-S);
    margin-top: 10vw;
    padding-right: 4vw; overflow: hidden;
}
.title .outer {position: relative;}
.title .outer .inner {position: relative}
.title .outer::before, 
.title .outer::after, 
.title .outer .inner::before, 
.title .outer .inner::after {
    display: block;
    content: ' ';
    width: 0; height: 1px;
    position: absolute; left: 0; top: 0;
    background-color: #000
}
.title .outer::before {top: 0}
.title .outer::after {top: 100px}
.title .outer .inner::before {top: auto; bottom: 0}
.title .outer .inner::after {width: 1px; height: 0; left: 100px;  top: -20%}
.title .outer .inner .text {margin-left: 100px; display: inline-block; }

.title .outer::before         {transition: transform 2s .0s cubic-bezier(.7, 0, .3, 1), width 1s .0s cubic-bezier(.7, 0, .3, 1)}
.title .outer .inner::before {transition: transform 2s .3s cubic-bezier(.7, 0, .3, 1), width 1s .3s cubic-bezier(.7, 0, .3, 1)}
.title .outer::after           {transition: transform 2s .5s cubic-bezier(.7, 0, .3, 1), width 1s .5s cubic-bezier(.7, 0, .3, 1)}
.title .outer .inner::after   {transition: transform 2s .4s cubic-bezier(.7, 0, .3, 1), height 1s .4s cubic-bezier(.7, 0, .3, 1)}
.title .outer .inner .text    {
    transform: translate3d(100%,0,0); opacity: 0; 
    transition: transform 2s 0.4s cubic-bezier(.7, 0, .3, 1), opacity 1s 0.7s cubic-bezier(.7, 0, .3, 1);
}
.title.show .outer::before         {transform: translate3d(120%,0,0); width: 100%}
.title.show .outer .inner::before {transform: translate3d(120%,0,0); width: 100%}
.title.show .outer::after           {transform: translate3d(120%,0,0); width: 100%}
.title.show .outer .inner::after   {transform: translate3d(0,100%,0); height: 140%;}
.title.show .outer .inner .text    {transform: translate3d(0,0,0); opacity: 1;}
